@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


body{
	background: #151515;
}

@keyframes shimmer {
  0% {
    background-position: -1000px;
  }
  100% {
    background-position: 1000px;
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite linear;
  background-size: 1000px 100%;
}
